.checkbox {
    border: 0.5px solid;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    i {
        font-size: 16px;
    }
    &.unchecked {
        background-color: rgb(255, 255, 255);
        color: rgb(212, 5, 5);
    }
    &.indeterminate {
        background-color: lightgray;
        color: rgb(51, 51, 51);
    }
    &.checked {
        background-color: rgb(21, 103, 255);
        color: white;
    }
}
