<h2>
  <a class="goback" routerLink="/">
    <span class="pi pi-fw pi-chevron-left"></span>
  </a>
  Indeterminate Checkbox Showcase
</h2>

<div class="showcase">
  <div class="container">
    <h3>TreeNode Showcase</h3>
    <div class="content">
      <form [formGroup]="formGroup">
        <div>
          <app-indeterminate-checkbox formControlName="parent">
          </app-indeterminate-checkbox>
          Parent
        </div>
        <ng-container formArrayName="children">
          <div *ngFor="let item of children; let index = index">
            -
            <app-indeterminate-checkbox [formControlName]="index">
            </app-indeterminate-checkbox>
            Child {{ index + 1 }}
          </div>
        </ng-container>
      </form>
    </div>
  </div>
  <div class="container">
    <h3>Values</h3>
    <div class="content">
      <pre>{{ formGroup.value | json }}</pre>
    </div>
  </div>
</div>
