@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
/* You can add global styles to this file, and also import other style files */
body {
    font-family: var(--font-family);
    padding: 0;
    margin: 0;
}
h2 {
    display: flex;
    gap: 10px;
    align-items: center;
}
a.goback {
    background-color: lightgrey;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    > .container {
        flex-grow: 1;
        flex-basis: 0;
        min-width: 300px;
        h3 {
            background-color: lightblue;
            padding: 12px;
            border-radius: 10px 10px 0 0;
        }
        .content {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
